<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796582994323-m7m9kt1en1nrinekr4ne37am1q6ea2ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796582994323-m7m9kt1en1nrinekr4ne37am1q6ea2ra</string>
	<key>API_KEY</key>
	<string>AIzaSyAlKlhJhjaHMEEwBBICzQ4VSRTbzkJCMhk</string>
	<key>GCM_SENDER_ID</key>
	<string>796582994323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oschotz.OpenEating</string>
	<key>PROJECT_ID</key>
	<string>openeating-19861</string>
	<key>STORAGE_BUCKET</key>
	<string>openeating-19861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:796582994323:ios:d1b5f235649b4633df0866</string>
	<key>DATABASE_URL</key>
	<string>https://openeating-19861.firebaseio.com</string>
</dict>
</plist>
